* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid red;
  gap: 1em;
}
.body{
  background-color: #eff1f3;
}
.container {
  border: 1px solid brown;
  display: grid;
  grid-template-columns: .9fr 1.75fr;
  gap: 1em;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main {
  border: 1px solid blue;
}
