.personalInfoBox{
  background-color: aqua;
  border: 1px solid red;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: .3em;
}
.personalData{
  display: flex;
  justify-content: space-evenly;
  gap: .3em;
  width: 100%;
}
.email, .phoneNumber, .adresse{
  display: flex;
  align-items: center;
  gap: .3em;
}
.educationInfo{
  border: 1px solid gold;
}
.experianceInfo{
  border: 1px solid brown;
}